/* Tooltip styles */
.tooltip {
    position: absolute;
    text-align: center;
    width: auto;
    height: auto;
    padding: 10px;
    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
    opacity: 0;
    color: black;
}

/* Body styles */
body {
    font-family: Arial, sans-serif;
    background-color: #FFFFFF;
    color: #333333;
}

/* Main heading (h1) styles */
h1 {
    text-align: center;
    margin-top: 20px;
    text-decoration: underline;
}

/* Subheading (h2) styles */
h2 {
    text-align: center;
    margin-top: 20px;
}

/* Introduction paragraph styles */
.intro-text {
    text-align: center;
    width: 80%;
    margin: 5px auto;
    font-size: 16px;
    line-height: 1.5;
    color: #666666;
}

/* Center alignment for elements within this class */
.center {
    text-align: center;
    margin: 20px 0;
}

/* Main container styles */
main {
    flex: 1;
}

/* Image container styles */
.image-container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
}

/* Section styles with animations */
.top-section, .bottom-section {
    display: flex;
    margin-bottom: 20px;
    opacity: 0;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.top-section {
    flex-direction: row;
    animation-name: fadeInLeft;
}

.bottom-section {
    flex-direction: row;
    animation-name: fadeInRight;
}

/* Image styles within sections */
.top-section img {
    max-width: 300px;
    margin-right: 20px;
}

.bottom-section img {
    max-width: 300px;
    margin-left: 20px;
}

/* Text content within sections */
.top-section .text-content, .bottom-section .text-content {
    max-width: 800px;
    margin: auto 20px;
    font-size: smaller;
}

.bottom-section .text-content {
    text-align: left;
}

/* Keyframe animations for sections */
@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(50%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes zoomIn {
    from {
        transform: scale(0);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 15px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    box-shadow: 0 -2px 5px rgb(241, 240, 240);
    margin-top: 80px; /* Increased margin to create space between footer and section above */
    font-size: 20px; /* Smaller font size */
}

/* Footer section styles */
.footer-section {
    margin: 2px;
}

/* Footer section headings */
.footer-section h5 {
    margin-top: 0;
    font-size: 15px; /* Font size for the headings */
}

/* Footer section paragraphs */
.footer-section p {
    margin: 2px 0;
    font-size: 12px; /* Smaller font size for contents */
}

/* Specific styles for unit info paragraphs */
.unit-info p {
    margin: 2px 0; /* Reduce space between points */
}

/* Chart container styles */
#chart-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 20px auto;
    padding: 20px;
    height: auto; /* Set height to auto to fit content */
    max-height: 350px; /* Optionally set a maximum height */
}

/* Chart styles */
#chart {
    width: 70%;
    height: 90%; /* Adjust as needed */
}

/* Side container styles */
#side-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 30%;
}

/* Button container styles */
#button-container {
    align-self: center; /* Align button container to the end (right) */
    margin-bottom: 9px; /* Space between button and text container */
}

/* Text container styles */
#text-container {
    width: 80%;
    align-self: center;
    /* height: 300px; /* Adjust as needed */
    padding: 0px 10px 20px 20px; /* Reduced top padding */
    background-color: white;
    transition: opacity 0.5s ease;
}

/* Paragraph styles within text container */
#text-container p {
    font-size: 12px; /* Adjust the font size as needed */
}

/* Button styles */
.vis-button,.view-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

/* Hover effect for buttons */
.vis-button:hover, .view-button:hover {
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;
}

/* Navigation styles */
#main-nav {
    background-color: #333;
    overflow: hidden;
}

/* Navbar styles */
#main-nav .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

/* Navbar list item styles */
#main-nav .navbar li {
    display: inline;
}

/* Navbar button styles */
#main-nav .navbar li button {
    background-color: #333;
    color: white;
    border: none;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0 10px;
    transition: background-color 0.3s ease;
    cursor: pointer;
}

/* Hover effect for navbar buttons */
#main-nav .navbar li button:hover {
    background-color: #ddd;
    color: black;
}

/* Radio group styles */
#radio-group {
    display: flex;
    justify-content: center;
    padding: 10px 0;
    background-color: #333;
}

/* Radio group label styles */
#radio-group label {
    color: white;
    margin: 0 10px;
}

/* Radio group input styles */
#radio-group input {
    margin-right: 5px;
}

/* Chart styles */
#chart {
    margin: 20px auto;
    width: 80%;
    height: 400px;
}

/* Slider wrapper styles */
#slider-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0 50px 0; /* Adjust margins to move the slider up */
}

/* Slider container styles */
#slider-container {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 5px;
}

/* Slider container label styles */
#slider-container label {
    font-weight: bold;
    margin-right: 5px;
}

/* Slider input styles */
#slider-container input[type="range"] {
    width: 200px;
    height: 5px;
    background: #ddd;
    outline: none;
    opacity: 0.7;
    transition: opacity 0.2s;
    border-radius: 5px;
}

/* Slider thumb styles for Webkit browsers */
#slider-container input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

/* Slider thumb styles for Mozilla browsers */
#slider-container input[type="range"]::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background: #4CAF50;
    cursor: pointer;
    border-radius: 50%;
}

/* Date range display styles */
#date-range-display {
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
